<template>
    <nb-container>
        <nb-header hasTabs>
          <nb-left>
            <nb-button transparent :onPress="() => this.props.navigation.goBack()">
              <nb-icon name="arrow-back" />
            </nb-button>
          </nb-left>
          <nb-body>
            <nb-title> Advanced Tabs</nb-title>
          </nb-body>
          <nb-right />
        </nb-header>

        <nb-tabs :style="{ elevation: 3 }">
          <nb-tab :heading="getHeadingCompForTab1()">
            <tab-one />
          </nb-tab>
          <nb-tab :heading="getHeadingCompForTab2()">
            <tab-two />
          </nb-tab>
        </nb-tabs>
    </nb-container>
</template>

<script>
import React from "react";
import { TabHeading, Icon, Text } from "native-base";
import TabTwo from "./formulario";
import TabOne from "./proyectos";
export default {
  components: { TabOne, TabTwo },
  methods: {
    getHeadingCompForTab1: function() {
      return (
        <TabHeading>
          <Text>Proyectos</Text>
        </TabHeading>
      );
    },
    getHeadingCompForTab2: function() {
      return (
        <TabHeading>
          <Text>Información</Text>
        </TabHeading>
      );
    }
  }
};
</script>