<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app">
        <div style="margin: 20px;"></div>
        <el-form :label-position="labelPosition" label-width="100px" :model="formLabelAlign">
            <el-form-item label="Nombre">
                <el-input v-model="formLabelAlign.name"></el-input>
            </el-form-item>
            <span>{{ formLabelAlign.name }}</span>
            <el-form-item label="Sexo" prop="resource">
                <el-radio-group v-model="ruleForm.resource">
                    <el-radio label="F"></el-radio>
                    <el-radio label="M"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="Materias">
                <el-select v-model="formLabelAlign.region" placeholder="Selecciona tu materia">
                    <el-option label="Sistema" value="Sistema"></el-option>
                    <el-option label="Medicina" value="Medicina"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var Main = {
        data() {
            return {
                labelPosition: 'right',
                formLabelAlign: {
                    name: '',
                    region: ''
                },
                ruleForm: {
                    resource: ''
                }
            };
        }

    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>

</html>